build/
dist/
truckms.egg-info/
.pytest_cache/
*.pyc
.idea/
examples/up_dir/
*.webm
*.mp4
*.ZIP
out.png
*.sqlite
tests/truckms/service/data/cut_results.avi
tests/truckms/service/worker/dummy.csv
tests/truckms/service/dummy_filename.csv
tests/truckms/service/worker/dummy.csv
truckms/service_v2/db.montydb/

tests/truckms/service/worker/dummy.avi
tests/truckms/service/dummy.avi
tests/truckms/service/dummy.csv

examples/evaluation/results_motion_map/
examples/evaluation/results_every_frame/
examples/evaluation/here.avi

tmsvenv/
*.bin
*.log

broker/
client/
worker/

iplist.txt

deleteme.py
discovery.txt