build/
dist/
truckms.egg-info/
.pytest_cache/
*.pyc
.idea/
examples/up_dir/
*.webm
*.mp4
out.png
*.sqlite
tests/truckms/service/data/cut.csv
tests/truckms/service/dummy_filename.csv
tests/truckms/service/worker/dummy.csv
truckms/service_v2/db.montydb/

tests/truckms/service/worker/dummy.avi
tests/truckms/service/dummy.avi
tests/truckms/service/dummy.csv

tmsvenv/
examples/log.txt
