-f https://download.pytorch.org/whl/torch_stable.html
#torch==1.3.0+cpu
#torchvision==0.4.1+cpu
opencv-contrib-python
opencv-python
matplotlib
deprecated
numpy
pandas
typing
youtube_dl
flask
sklearn
pillow
Flask-Bootstrap4
pytest
progressbar
tqdm
Cython
pytest-mock
git+https://github.com/philferriere/cocoapi.git#subdirectory=PythonAPI
mock
gputil

